<p id="notice"><%= notice %></p>

<h1>Perfis</h1>

<table>
  <thead>
    <tr>
      <th>Nome completo</th>
      <th>Nome social</th>
      <th>Data de nascimento</th>
      <th>Cargo</th>
      <th>Setor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <% if profile.user.company == current_user.company %>
        <tr>
          <td><%= profile.full_name %></td>
          <td><%= profile.social_name %></td>
          <td><%= profile.birth_date.strftime('%d-%m-%Y') %></td>
          <td><%= profile.job %></td>
          <td><%= profile.department %></td>
          <td><%= link_to 'Ver', profile %></td>
          <% if profile == current_user.profile %>
          <td><%= link_to 'Editar', edit_profile_path(profile) %></td>
          <td><%= link_to 'Deletar', profile, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.profile == nil %>
<%= link_to 'Novo perfil', new_profile_path %>
<% end %>
<%= link_to 'Voltar para a página inicial', root_path %>
