<p id="notice"><%= notice %></p>

<p>
  <strong>Nome completo:</strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong>Nome social:</strong>
  <%= @profile.social_name %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @profile.birth_date.strftime('%d-%m-%Y')  %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @profile.job %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @profile.department %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @profile.user.company %>
</p>

<p>
  <strong>Produtos cadastrados:</strong>
      <% current_user.products.each do |product| %>
      <td><%= link_to product.product_name, product %></td>
      <% end %>
</p>

<%= link_to 'Editar', edit_profile_path(@profile) %> |
<%= link_to 'Voltar para a página inicial', root_path %>
