<li>
  <%= comment.body %> -
  <small>Enviado a <%= time_ago_in_words(comment.created_at) %> atrás por <%= comment.user.profile.social_name%></small>

  <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Adicionar uma resposta" %><br/>
      <%= f.submit "Responder"  %>
      <% end %>

  <ul>
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>