<h1>
Uno Market
</h1>

<h2>
Compre e venda jogos, consoles, periféricos e muito mais!
</h2>

<h3>
    <% if user_signed_in? %>
        <% if current_user.profile == nil %>
            <%= link_to 'Criar perfil', new_profile_path %>
        <% else %>
            <%= link_to 'Ver seu perfil', current_user.profile %>
        <% end%>
        <%= link_to 'Encerrar sessão', destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to 'Iniciar sessão', new_user_session_path %>
        <%= link_to 'Criar conta', new_user_registration_path %>
    <% end %>
    <%= link_to 'Ver todos os produtos', products_path %>
    <%= link_to 'Ver todos os perfis', profiles_path %>
</h3>

<h4>
<% if user_signed_in? %>
    <strong> Sua empresa: <%= current_user.company %> <br>
    Seu email: <%= current_user.email %> </strong>
<% end %>
</h4>



