<h1>Iniciando o processo de compra!</h1>
<h2>Confirme as informações antes de iniciar a compra.
O vendedor revisará as informações e finalizará a venda.</h2>

<h3>Dados do produto</h3>
<p>
  <strong>Nome do produto:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @product.user.email %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @product.user.company %>
</p>


<%= form_with model: [@product, @deal], local: true do |f| %>
    <%= f.label "Comprador"%>
    <%= f.text_field :user_id, required: true, class: 'form-control', value:current_user.id, :readonly => true  %>
    <%= f.submit 'Iniciar compra' %>
<% end %>