<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @product.user.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.user.company %>
</p>

<% if @product.deal %>
<p>
<strong>Este produto j치 est치 com o processo de compra iniciado.</strong>
<strong>Iniciado por: <%= @product.deal.user.email %></strong>
</p>
<% else %>
<p>
  <%= link_to 'Comprar', new_product_deal_path(@product.id) %>
</p>
<% end %>

<small>Submitted <%= time_ago_in_words(@product.created_at) %> ago</small>

<h3>Comments</h3>

<%= form_for [@product, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Adicionar um coment치rio" %><br/>
<%= f.submit "Adicionar coment치rio" %>
<% end %>

<ul>
  <%= render(partial: 'comments/comment', collection: @product.comments) %>
</ul>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
