<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do produto:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @product.user.email %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @product.user.company %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<% if @product.deal %>
<p>
<strong>Este produto já está com o processo de compra iniciado.</strong>
<strong>Iniciado por: <%= @product.deal.user.email %></strong>
</p>
<% else %>
<p>
  <% if @product.user != current_user %>
    <%= link_to 'Comprar', new_product_deal_path(@product.id) %>
  <% end %>
</p>
<% end %>

<small>Submitted <%= time_ago_in_words(@product.created_at) %> ago</small>

<h3>Comentários</h3>

<%= form_for [@product, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Adicionar um comentário" %><br/>
<%= f.submit "Comentar" %>
<% end %>

<ul>
  <%= render(partial: 'comments/comment', collection: @product.comments) %>
</ul>

<% if @product.user == current_user %>
  <%= link_to 'Editar', edit_product_path(@product) %>

  <% if @product.deal.status = 'open' %>
    <%= link_to 'Finalizar venda', closed_deal_path(@product.id), method: :post %>
  <% end %>

<% end %> |
<%= link_to 'Voltar', products_path %>
